@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

:root {
    --primary-color: #007bb6;
    --mui-palette-primary-lightOpacity: rgba(0, 123, 182, 0.5);
    --mui-palette-primary-lighterOpacity: rgba(0, 123, 182, 0.3);
    --mui-palette-secondary-main: #ff4081;
    --mui-palette-error-main: #f44336;
    --mui-palette-error-lightOpacity: rgba(244, 67, 54, 0.5);
    --mui-palette-error-lighterOpacity: rgba(244, 67, 54, 0.3);
    --mui-palette-warning-main: #ff9800;
    --mui-palette-info-main: #2196f3;
    --mui-palette-success-main: #4caf50;
    --mui-palette-text-primary: #212121;
    --mui-palette-text-secondary: #757575;
    --mui-palette-text-disabled: #bdbdbd;
    --mui-palette-action-active: rgba(0, 0, 0, 0.54);
    --mui-palette-action-hover: rgba(0, 0, 0, 0.04);
    --mui-palette-action-selected: rgba(0, 0, 0, 0.08);
    --mui-palette-action-focus: rgba(0, 0, 0, 0.12);
    --mui-palette-background-paper: #ffffff;
    --mui-palette-background-default: #fafafa;
    --mui-palette-customColors-chatBg: #f1f3f4;
    --backdrop-color: rgba(0, 0, 0, 0.5);
    --font-family-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-serif: 'Georgia', serif;
    --font-family-mono: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
  
  body {
    font-family: "Public Sans", ui-sans-serif, system-ui;
    outline: none; /* This will remove the default outline for focus */
  }
  

  .customDatePickerWidth, 
  .customDatePickerWidth > div.react-datepicker-wrapper, 
  .customDatePickerWidth > div > div.react-datepicker__input-container
  .customDatePickerWidth > div > div.react-datepicker__input-container input {
     width: 100%;
  }
  
/* Example CSS adjustment */
input::placeholder,
textarea::placeholder {
  color: #999; /* Example placeholder color */
  opacity: 1; /* Ensure placeholder is visible */
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 14px; /* Height of the scrollbar for horizontal scrolling */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 8px; /* Round corners */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #234895 0%, #1560A6 50%, #0085C0 100%);
  border-radius: 8px; /* Round corners */
  border: 2px solid transparent; /* Space between thumb and track */
  background-clip: content-box; /* Prevents thumb color from overlapping */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(90deg, #234895 0%, #1560A6 50%, #0085C0 100%);
}


